main.registMain {
  padding: 25px;
  height: 100vh;
}

section.registSection {
  min-width: 340px;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 390px;
  margin: 0 auto;
}

input.titleRegist {
  background-color: white;
  border-radius: 16px 16px 0 0;
  font-size: 1.5rem;
  padding: 32px 25px;
  border: none;
  outline: none;
}

textarea.contentRegist {
  background-color: white;
  min-height: 11rem;
  border-radius: 0 0 16px 16px;
  font-size: 1rem;
  font-weight: bold;
  padding: 12px 25px;
  border: none;
  outline: none;
  resize: none;
}

.titleRegist::placeholder {
  color: darkgray;
}

.contentRegist::placeholder {
  color: darkgray;
}

#registerBtn {
  background-color: #fdd287;
  width: 100%;
  height: 60px;
  border-radius: 16px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  border: 2px solid #303037;
}

#registerBtn:disabled {
  background-color: #d9d9d9;
  cursor: default;
}
